:root {
  --bg: hsl(240, 2%, 12%);
  --text-color: #ffffff;
  --main-color: #37f3ff;
  --btn: #0f0f0f;
  --second-bg: linear-gradient(
      324deg,
      transparent 0%,
      transparent 45%,
      rgba(186, 186, 186, 0.04) 45%,
      rgba(186, 186, 186, 0.04) 47%,
      transparent 47%,
      transparent 100%
    ),
    linear-gradient(
      208deg,
      transparent 0%,
      transparent 40%,
      rgba(186, 186, 186, 0.04) 40%,
      rgba(186, 186, 186, 0.04) 80%,
      transparent 80%,
      transparent 100%
    ),
    linear-gradient(
      202deg,
      transparent 0%,
      transparent 20%,
      rgba(186, 186, 186, 0.04) 20%,
      rgba(186, 186, 186, 0.04) 40%,
      transparent 40%,
      transparent 100%
    ),
    linear-gradient(
      338deg,
      transparent 0%,
      transparent 10%,
      rgba(186, 186, 186, 0.04) 10%,
      rgba(186, 186, 186, 0.04) 72%,
      transparent 72%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
}

.dark-mode {
  --bg: #d0d0d0;
  --text-color: #000000;
  --main-color: #ffc000;
  --btn: #d0d0d0;
  --second-bg: linear-gradient(
      158deg,
      rgba(84, 84, 84, 0.03) 0%,
      rgba(84, 84, 84, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 100%
    ),
    linear-gradient(
      45deg,
      rgba(221, 221, 221, 0.02) 0%,
      rgba(221, 221, 221, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 71.42999999999999%,
      rgba(239, 239, 239, 0.02) 71.43%,
      rgba(239, 239, 239, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(33, 33, 33, 0.03) 0%,
      rgba(33, 33, 33, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 100%
    ),
    linear-gradient(
      348deg,
      rgba(42, 42, 42, 0.02) 0%,
      rgba(42, 42, 42, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 100%
    ),
    linear-gradient(
      120deg,
      rgba(106, 106, 106, 0.03) 0%,
      rgba(106, 106, 106, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 71.42999999999999%,
      rgba(205, 205, 205, 0.03) 71.43%,
      rgba(205, 205, 205, 0.03) 85.71600000000001%,
      rgba(53, 53, 53, 0.03) 85.716%,
      rgba(53, 53, 53, 0.03) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(214, 214, 214, 0.03) 0%,
      rgba(214, 214, 214, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 50.001000000000005%,
      rgba(231, 231, 231, 0.03) 50.001%,
      rgba(231, 231, 231, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 83.33500000000001%,
      rgba(31, 31, 31, 0.03) 83.335%,
      rgba(31, 31, 31, 0.03) 100.002%
    ),
    linear-gradient(
      59deg,
      rgba(224, 224, 224, 0.03) 0%,
      rgba(224, 224, 224, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 100%
    ),
    linear-gradient(
      241deg,
      rgba(58, 58, 58, 0.02) 0%,
      rgba(58, 58, 58, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 100%
    ),
    linear-gradient(90deg, #ffffff, #ffffff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--btn);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Dark Mode Start */
.mode-gelap {
  font-size: 2.2rem;
  display: flex;
  position: fixed;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  padding: 2px 2px 2px 2px;
  margin-left: 85vw;
  color: var(--main-color);
  cursor: pointer;
}

.mode-gelap:hover {
  transform: scale(1.125);
  transition: all 0.3s ease;
  box-shadow: 0 0 2rem var(--main-color);
}
/* Dark Mode End */

/* Navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--second-bg);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--main-color);
  z-index: 100;
}

.header h1 span {
  color: var(--main-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover {
  padding: 3px 10px;
  background: var(--main-color);
  border-radius: 20px;
  transition: 0.2s linear;
}
/* Header Section */
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
  cursor: pointer;
}

/* Navbar Magic Start */
.navbar-magic {
  height: 100px;
  width: 400px;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--second-bg);
  position: fixed;
  border-top: 2px solid var(--main-color);
  bottom: -2px;
  z-index: 100;
  display: none;
}

.navbar-magic a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 25%;
}

.navbar-magic .bx {
  position: relative;
  display: block;
  line-height: 80px;
  font-size: 3rem;
  transition: 0.4s;
  color: var(--text-color);
  text-align: center;
}

.navbar-magic a.active .bx,
.navbar-magic a.active .title {
  color: var(--main-color);
}

.navbar-magic .title {
  position: absolute;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--text-color);
  opacity: 1;
  padding-top: 40px;
  margin-top: 10px;
}
/* Navbar Magic End */

/* Timetable Section Start */
.timetable {
  background: var(--btn);
}

.timetable h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  text-shadow: var(--main-color) 5px 5px 10px;
  /* font-family: "Permanent Marker", cursive; */
}

.toggle-button {
  width: 80vw;
  height: 70px;
  font-size: 2rem;
  background: var(--second-bg);
  color: var(--text-color);
  font-weight: 700;
  border-radius: 0;
  border: 3px solid var(--main-color);
  text-transform: uppercase;
  border-radius: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.toggle-button::before {
  content: "";
  top: 0;
  left: 0;
  width: 80vw;
  height: 70px;
  background: linear-gradient(120deg, transparent, #37f3ff, transparent);
  transform: translateX(-100%);
  transition: 0.8s;
  position: absolute;
}

.toggle-button:hover {
  box-shadow: 0 0 20px 5px var(--main-color);
}

.toggle-button:hover::before {
  transform: translateX(100%);
}

.hidden-element {
  height: 0;
  width: 175vh;
  padding: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  color: var(--text-color);
  font-size: 15px;
  background: var(--btn);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  text-align: left;
  transition: height 0.5s ease;
}

.hidden-element p {
  padding-left: 5px;
  margin-top: 5px;
}

.second-matkul {
  margin-top: 3rem;
}

/* SPAN COLOR START */
.second-matkul b {
  color: var(--main-color);
}
/* SPAN COLOR END */

/* Hidden Element Max Width Start */
#senin {
  /* max-height: 310px; */
  max-height: 150px;
}

#selasa {
  max-height: 310px;
}

#rabu {
  /* max-height: 150px; */
  max-height: 310px;
}

#kamis {
  max-height: 150px;
  /* max-height: 250px; */
}

#jumat {
  max-height: 150px;
  /* max-height: 260px; */
}
/* Hidden Element Max Width End */

.update {
  display: flex;
  margin-top: 2.5rem;
  background: var(--btn);
}

.update p {
  margin-top: 1.5rem;
  font-size: medium;
  padding-left: 5px;
}
/* Timetable Section End */

/* Footer Section Start*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 9%;
  background-image: linear-gradient(var(--bg) 1%, var(--main-color));
}

.footer-text p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer a {
  font-size: 1.6rem;
  color: var(--text-color);
}

.footer .footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--text-color);
  border-radius: 0.8rem;
  transition: 0.3s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop i {
  font-size: 2.4rem;
  color: var(--bg);
}
/* Footer Section End */

/* FooterSecond Section Start*/
.footerSecond {
  margin-bottom: 5rem;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid var(--main-color);
  /* padding: 3rem 9%; */
  /* background-image: linear-gradient(var(--bg) -20%, var(--main-color)); */
}
.footerSecond-text p {
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.footerSecond-text a:hover {
  text-decoration: underline;
}
.footerSecond a {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: var(--text-color);
}
.footerSecond .footerSecond-iconTop a {
  display: inline-flex;
  padding: 0.8rem;
  background: var(--text-color);
  border-radius: 0.8rem;
  transition: 0.3s ease;
}
/* FooterSecond Section End */

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .mode-gelap {
    margin-left: 85vw;
  }

  .hidden-element {
    max-width: 142vh;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  section {
    min-height: 100vh;
  }

  .logo {
    font-size: 2rem;
  }

  /* #menu-icon {
    display: inline-block;
  } */

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  /* .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  } */

  .mode-gelap {
    position: absolute;
    margin-top: 3px;
    margin-left: 87vw;
  }

  .navbar-magic {
    width: 100%;
    display: inline-flex;
  }

  .navbar-magic a {
    width: 100%;
  }

  .timetable h1 {
    padding-top: 5rem;
  }

  .navbar a {
    font-size: 2rem;
  }

  .toggle-button {
    margin-left: 5rem;
    padding: 15px 65px;
    font-size: 14px;
  }

  .toggle-button b {
    font-size: 2rem;
  }

  .hidden-element {
    margin-left: 5rem;
    width: 85%;
    font-size: 13px;
    text-align: left;
  }

  #senin {
    /* max-height: 270px; */
    max-height: 140px;
  }

  #selasa {
    max-height: 290px;
  }

  #rabu {
    /* max-height: 150px; */
    max-height: 290px;
  }

  #kamis {
    max-height: 140px;
  }

  #jumat {
    max-height: 140px;
    /* max-height: 230px; */
  }

  .update p {
    font-size: 1.5rem;
  }

  .footer {
    display: none;
  }

  .footer p {
    font-size: small;
    padding-left: 2.5rem;
  }

  .footer-text a {
    margin-left: 2.5rem;
  }

  .footer .footer-iconTop a {
    margin-right: 2.5vh;
  }

  .footerSecond {
    display: flex;
    margin-bottom: 12rem;
  }

  .footerSecond a {
    text-decoration: none;
  }

  @media (max-width: 617px) {
    .toggle-button {
      padding: 1.5rem 2rem;
      font-size: 1.2rem;
    }
  }

  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }

    section {
      min-height: 115vh;
    }

    .timetable h1 {
      margin-top: -7vh;
    }

    .toggle-button {
      margin-left: 3.5rem;
    }

    .hidden-element {
      margin-left: 3.5rem;
    }

    .navbar-magic {
      height: 100px;
      width: 100%;
      padding-bottom: 4rem;
    }

    .footerSecond {
      margin-top: 2rem;
      margin-bottom: 10rem;
    }
  }

  @media (max-width: 376px) {
    html {
      font-size: 50%;
    }

    .timetable h1 {
      font-size: 3.5rem;
    }

    .hidden-element {
      width: 290px;
    }

    .footerSecond {
      margin-bottom: 7rem;
    }

    .navbar-magic {
      height: 80px;
    }

    .navbar-magic .bx {
      font-size: 2.5rem;
    }
  }
}
