@import url(/assets/theme.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}

body {
  background: var(--bg);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Game Slot Start */
.slot-machine {
  display: flex;
  justify-content: center;
  /* margin: 20vh; */
  margin-bottom: 0;
  padding: 10px;
  border-radius: 10px;
}

.slot:hover {
  transform: scale(1.1);
}

.card.red-background {
  background-color: red;
  color: white;
}

.slot {
  width: 100px;
  height: 100px;
  border: 3px solid gold;
  padding: 20px;
  margin: 0 5px;
  background-image: linear-gradient(45deg, rgb(40, 23, 76), rgb(121, 0, 133));
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.tombol {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

/* Gaya umum untuk tombol */
.btn-depo button {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: var(--main-color);
}

.btn {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding: 5px 20px;
  background: var(--text-color);
  color: var(--second-bg);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  cursor: pointer;
}

button:hover .btn {
  transform: translateY(-0.33em);
}

button:active .btn {
  transform: translateY(0);
}

/* BTN SPIN */
.btn-container button {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: var(--main-color);
  cursor: pointer;
}

.btn-spin {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  padding: 5px 20px;
  background: var(--main-color);
  color: var(--bg);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .btn-spin {
  transform: translateY(-0.33em);
}

button:active .btn-spin {
  transform: translateY(0);
}

#result {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #009eff;
}

.balance {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: bold;
}

.balance option {
  font-size: 1.4rem;
}

#betAmount {
  background: var(--bg);
  border-radius: 5px;
  border: 1px solid var(--main-color);
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.mute-unmute-button {
  display: flex;
  top: 10px;
  left: 10px;
  background: var(--second-bg);
  color: var(--main-color);
  border-radius: 50%;
  border: 1px solid var(--main-color);
  padding: 10px;
  cursor: pointer;
}

.mute-unmute-button:hover {
  background: var(--gradient);
  color: var(--second-bg);
}

.announcement {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.announcement summary {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--main-color);
  cursor: pointer;
}

.announcement p {
  background: var(--second-bg);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
/* Game Slot End */

/* FooterSecond Section Start*/
.footerSecond {
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid var(--main-color);
  /* padding: 3rem 9%; */
  /* background-image: linear-gradient(var(--bg) -20%, var(--main-color)); */
}
.footerSecond-text p {
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.footerSecond-text a:hover {
  text-decoration: underline;
}
.footerSecond a {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: var(--text-color);
}
.footerSecond .footerSecond-iconTop a {
  display: inline-flex;
  padding: 0.8rem;
  background: var(--text-color);
  border-radius: 0.8rem;
  transition: 0.3s ease;
}
/* FooterSecond Section End */

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  section {
    min-height: 105vh;
  }

  .footerSecond {
    display: flex;
  }

  .footerSecond a {
    text-decoration: none;
  }
}

@media (max-width: 617px) {
  .heading h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .slot {
    font-size: 4.5rem;
  }

  .footerSecond {
    margin-top: 2rem;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 50%;
  }
}
