@import url(./theme.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}

body {
  background: var(--bg);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Hero Section Start */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0));
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1);
  transition: opacity 1.5s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
}

.zoom-in {
  animation: zoomInAnim 7s linear forwards;
}

.zoom-out {
  animation: zoomOutAnim 7s linear forwards;
}

@keyframes zoomInAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes zoomOutAnim {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hero .content {
  /* margin-top: 250px; */
  position: relative;
  z-index: 2;
  padding: 1.4rem 7%;
  width: 100%;
  text-align: center;
}

.content h1,
.content h3 {
  font-size: 6rem;
  color: #ffffff;
  line-height: 1;
  text-shadow: var(--main-color) 5px 5px 20px;
}

.content h3 {
  font-size: 3rem;
  margin-top: 1rem;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}
/* Hero Section End */

/* Profile Section Start */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg);
}

.about-img img {
  margin-left: -2vw;
  width: 30vw;
}

.heading {
  color: var(--main-color);
  text-align: center;
  font-size: 4rem;
}

.about-content p {
  padding-left: 5vw;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.social-media p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card {
  margin-left: 5vw;
  width: fit-content;
  height: fit-content;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.socialContainer {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--second-bg);
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.instagram:hover {
  background-color: #ff003a;
  box-shadow: 5px 5px 5px #ff003a;
  transition-duration: 0.3s;
}

.discord:hover {
  background-color: #5555ff;
  box-shadow: 5px 5px 5px #5555ff;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 20px;
}

.socialSvg path {
  fill: var(--text-color);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Profile Section End */

/* Contact Section Start */
.container {
  padding: 5rem 8rem;
  border-radius: 15px;
  box-shadow: 0px 5px 10px var(--lightbshadow);
  margin-bottom: 1rem;
}

.mapbox {
  position: relative;
  height: 450px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid var(--lightbshadow);
  overflow: hidden;
}

.mapbox figure {
  height: 100%;
}

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-form {
  margin-bottom: 10px;
}

.form-title {
  font-size: 3rem;
  color: var(--main-color);
  margin-bottom: 20px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  background: var(--second-bg);
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 13px 20px;
  border: 1px solid var(--lightbshadow);
  border-radius: 14px;
  outline: none;
}

.form-input::placeholder {
  font-weight: 500;
}

.form-input:focus {
  border-color: var(--main-color);
}

textarea.form-input {
  min-height: 100px;
  height: 250px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer {
  display: none;
}

.form-input:focus:invalid {
  border-color: red;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.form-btn {
  font-size: 1.4rem;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  background: var(--bg);
  box-shadow: 3px 3px var(--main-color);
  cursor: pointer;
  margin: 1rem 0;
}

.form-btn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.form-btn i {
  font-size: 16px;
}

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
/* Contact Section End */

/* FooterSecond Section Start*/
.footerSecond {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid var(--main-color);
}

.footerSecond-text {
  font-size: 1.8rem;
  margin-top: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.footerSecond-text a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.footerSecond a {
  font-size: 1.8rem;
  color: var(--text-color);
}
/* FooterSecond Section End */

/* BREAKPOINTS */

@media (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  section {
    min-height: 88vh;
  }

  /* #menu-icon {
    display: inline-block;
  } */

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  /* .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  } */

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about-content h2 {
    text-align: center;
  }

  .hero .content h1 {
    margin-left: 4rem;
    font-size: 6rem;
  }

  .hero .content h3 {
    margin-left: -4rem;
    font-size: 3rem;
    width: 118%;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .navbar a {
    font-size: 2rem;
  }

  .container {
    padding: 1rem;
  }

  .mapbox {
    width: 100%;
    height: 350px;
  }

  .footer {
    display: none;
  }

  .footer p {
    font-size: small;
    padding-left: 2.5rem;
  }

  .footer-text a {
    margin-left: 2.5rem;
  }

  .footer .footer-iconTop a {
    margin-right: 2.5vh;
  }

  .footerSecond {
    display: flex;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .hero .content h1 {
    text-align: center;
    margin-left: 2rem;
    font-size: 5rem;
    width: 90%;
  }

  .hero .content h3 {
    text-align: center;
    margin-left: -2rem;
    font-size: 2rem;
    width: 110%;
    margin-bottom: 25vh;
  }

  .footerSecond {
    margin-bottom: 14rem;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 50%;
  }

  .hero .content h1 {
    text-align: center;
    margin-left: -3.5rem;
    font-size: 5rem;
    width: 120%;
  }

  .hero .content h3 {
    text-align: center;
    margin-left: -2rem;
    font-size: 2rem;
    width: 110%;
  }

  .footerSecond {
    margin-bottom: 12rem;
  }
}
