@import url(/assets/theme.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}

body {
  background: var(--bg);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Spin The Wheel Start */
.spin {
  background: var(--bg);
}

.heading h1 {
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.2;
  color: var(--main-color);
}

.head {
  display: none;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.wheel {
  position: relative;
}

.center-circle {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 30px solid var(--text-color);
  position: absolute;
  top: 50%;
  right: -220%;
  transform: translateY(-50%);
}

.input-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15vh;
  margin-left: 10vw;
}

textarea {
  padding: 5px;
  background-color: var(--second-bg);
  color: var(--text-color);
  border: 3px solid var(--main-color);
  border-radius: 10px;
  resize: none;
  margin-bottom: 10px;
}

.inputArea {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.buttonArea {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  background: var(--main-color);
  color: var(--bg);
  padding: 10px 25px;
  font-size: 1.7rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
}

.btn:hover {
  box-shadow: 0 0 20px 5px var(--main-color);
}

/* Spin The Wheel End */

/* FooterSecond Section Start*/
.footerSecond {
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid var(--main-color);
  /* padding: 3rem 9%; */
  /* background-image: linear-gradient(var(--bg) -20%, var(--main-color)); */
}
.footerSecond-text p {
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.footerSecond-text a:hover {
  text-decoration: underline;
}
.footerSecond a {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: var(--text-color);
}
.footerSecond .footerSecond-iconTop a {
  display: inline-flex;
  padding: 0.8rem;
  background: var(--text-color);
  border-radius: 0.8rem;
  transition: 0.3s ease;
}
/* FooterSecond Section End */

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  section {
    min-height: 120vh;
  }

  .heading h1 {
    font-size: 4rem;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .input-button-container {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    margin-left: 0;
    align-items: center;
  }

  textarea {
    width: 100%;
    max-width: 500px;
    height: 200px;
  }

  .buttonArea {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 100%;
    max-width: 500px;
  }

  .footerSecond {
    display: flex;
  }

  .footerSecond a {
    text-decoration: none;
  }

  @media (max-width: 617px) {
    .heading h1 {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  section {
    min-height: 115vh;
  }

  .heading h1 {
    margin-top: -5vh;
    font-size: 4rem;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .wheel {
    width: 300px;
    height: 300px;
  }

  #canvas {
    width: 300px;
    height: 300px;
  }

  .center-circle {
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .triangle {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 30px solid var(--text-color);
    right: -220%;
  }

  .input-button-container {
    width: 90%;
    margin-top: 20px;
    margin-left: 0;
    align-items: center;
  }

  textarea {
    font-size: 1.6rem;
    width: 100%;
    height: 200px;
  }

  .buttonArea {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .btn {
    font-size: 1.6rem;
    width: 100%;
    padding: 10px 20px;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 50%;
  }

  section {
    min-height: 115vh;
  }

  .heading h1 {
    font-size: 4rem;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .wheel {
    width: 300px;
    height: 300px;
  }

  #canvas {
    width: 300px;
    height: 300px;
  }

  .center-circle {
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .triangle {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 30px solid var(--text-color);
    right: -220%;
  }

  .input-button-container {
    width: 90%;
    margin-top: 20px;
    margin-left: 0;
    align-items: center;
  }

  textarea {
    font-size: 1.6rem;
    width: 100%;
    height: 200px;
  }

  .buttonArea {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .btn {
    font-size: 1.6rem;
    width: 100%;
    padding: 10px 20px;
  }
}
