@import url(../assets/theme.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}

body {
  background: var(--bg);
  color: var(--text-color);
}

section {
  min-height: 60vh;
  /* padding: 10rem 9% 2rem; */
  padding: 10rem;
}

/* Fitur Section Start */
.fitur {
  background: var(--bg);
}

.heading-fitur {
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px var(--lightbshadow);
}

.heading-fitur h1 {
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.2;
  color: var(--main-color);
  /* text-shadow: var(--main-color) 5px 5px 10px; */
}

.heading-fitur p {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.request {
  color: var(--main-color);
}

.request:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 30px 10px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px var(--lightbshadow);
}

.card {
  height: 220px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradient);
  color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--main-color);
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px 5px var(--main-color);
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card-icon {
  font-size: 4.6rem;
  margin: 10px 0;
}

.card-title {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 10px 0;
}

.card-description {
  font-size: 1.3rem;
  padding: 0 20px;
  margin-bottom: 20px;
}
/* Fitur Section End */

/* Card Spotify Start */
:root {
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515c6f;
  --white: #ffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0, 0, 0, 0.15);
}

.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 10vh;
  background: var(--bg);
}

.wrapper {
  height: 450px;
  width: 90%;
  max-width: 380px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  padding: 25px 30px;
  background: var(--bg);
  box-shadow: 0px 6px 15px var(--lightbshadow);
}

.wrapper i {
  cursor: pointer;
}

.heart i {
  user-select: none;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-bar,
.progress-area .timer,
.controls,
.music-list .header,
.music-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar i {
  font-size: 2.5rem;
  color: var(--lightblack);
}

.top-bar span {
  font-size: 1.8rem;
  color: var(--lightblack);
}

.img-area {
  height: 50%;
  width: 100%;
  margin-top: 25px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}

.img-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.song-details {
  text-align: center;
  margin: 20px 0;
  color: var(--lightblack);
}

.song-details .name {
  font-size: 1.8rem;
  color: var(--text-color);
}

.song-details .artist {
  font-size: 1.4rem;
  opacity: 0.9;
}

.progress-area {
  height: 4px;
  width: 100%;
  color: #f0f0f0;
  background: var(--darkwhite);
  border-radius: 50px;
  cursor: pointer;
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: var(--gradient);
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background: black;
  border-radius: inherit;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  background: inherit;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
}

.progress-area .timer {
  margin-top: 2px;
}

.timer span {
  font-size: 1.3rem;
  color: var(--lightblack);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 30px 0 5px 0;
}

.controls i {
  font-size: 3rem;
  user-select: none;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 3.5rem;
}

.controls #prev {
  margin-right: -13px;
}

.controls #next {
  margin-left: -13px;
}

.controls .play-pause {
  height: 43px;
  width: 43px;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause::before {
  content: "";
  position: absolute;
  height: 33px;
  width: 33px;
  border-radius: inherit;
  background: var(--gradient);
}

.play-pause i {
  height: 43px;
  width: 43px;
  font-size: 2.3rem;
  line-height: 43px;
  background: inherit;
  position: relative;
  text-align: center;
  border-radius: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.music-list {
  position: absolute;
  left: 0;
  bottom: -55%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  padding: 15px 30px;
  border-radius: 15px;
  background: var(--white);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.14s ease-out;
}

.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.music-list .header-list .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: black;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list .row i {
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: default;
}

.header-list .row span {
  margin-left: 5px;
}

.header-list #close {
  font-size: 3rem;
  color: var(--lightblack);
}

.music-list ul {
  margin: 10px 0;
  max-height: 260px;
  overflow-y: auto;
}

.music-list ul::-webkit-scrollbar {
  width: 0px;
}

.music-list ul li {
  cursor: pointer;
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: black;
  border-bottom: 1px solid #e5e5e5;
}

.music-list ul li:last-child {
  border-bottom: 0px;
}

.music-list ul li .row span {
  font-size: 17px;
}

ul li .row p {
  color: var(--lightblack);
}

ul li .audio-duration {
  font-size: 16px;
}

ul li.playing {
  color: var(--main-color);
  pointer-events: none;
}

/* Card Spotify End */

/* Request Music Start */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: var(--bg);
  margin: 0;
  padding: 40px 30px;
  border: 1px solid var(--main-color);
  width: 90%;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.modal-header h2 {
  font-size: 2.4rem;
  color: var(--main-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-header .close {
  color: var(--text-color);
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.modal-header .close:hover {
  color: var(--main-color);
  transform: rotate(90deg);
}

.subtitle {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 30px;
  text-align: left;
}

.request-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.kirim-data {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.kirim-data input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.6rem;
  color: var(--text-color);
  border: none;
  border-bottom: 2px solid #555;
  outline: none;
  background: transparent;
  transition: border-color 0.3s;
}

.kirim-data label {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 1.2rem;
  color: var(--main-color);
  pointer-events: none;
  font-weight: bold;
}

.kirim-data .icon {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 2rem;
  color: var(--main-color);
}

.kirim-data input:focus,
.kirim-data input:valid {
  border-bottom: 2px solid var(--main-color);
}

.kirim-data input:focus ~ .icon {
  filter: drop-shadow(0 0 5px var(--main-color));
}

.btn-music {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
}

.btn-music .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn-music .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--gradient);
}

.btn-music .front {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  font-size: 1.25rem;
  font-weight: 800;
  color: white;
  background: hsl(217, 33%, 17%);
  border-radius: 8px;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn-music:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-music:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-music:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.btn-music:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.btn-music .front span {
  user-select: none;
}

/* Responsif untuk Layar Sangat Kecil (HP) */
@media (max-width: 450px) {
  .modal-content {
    width: 85%;
    padding: 30px 20px;
  }

  .modal-header h2 {
    font-size: 2rem;
  }
}
/* Request Music End */

/* FooterSecond Section Start*/
.footerSecond {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid var(--main-color);
}

.footerSecond-text {
  font-size: 1.8rem;
  margin-top: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.footerSecond-text a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.footerSecond a {
  font-size: 1.8rem;
  color: var(--text-color);
}
/* FooterSecond Section End */

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  section {
    min-height: 75vh;
  }

  ul li .row p {
    font-size: 1.3rem;
  }

  .modal-content {
    top: 50%;
    width: 90%;
  }

  #chatbot-toggler {
    /* z-index: 100; */
    right: 20px;
    bottom: 15vh;
  }

  .chatbot-popup {
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }

  .chat-body,
  .message-header-info {
    height: calc(90% - 55px);
    padding: 25px 15px;
  }

  .message .bot-avatar {
    display: none;
  }

  .chat-body .message .message-text {
    font-size: 1.6rem;
  }

  .chat-body .user-message .attachment {
    width: 50%;
  }

  .chat-footer {
    padding: 10px 15px 15px;
  }

  .chat-form .file-upload-wrapper.file-uploaded #file-cancel {
    opacity: 0;
  }

  .footerSecond {
    display: flex;
  }

  .footerSecond a {
    text-decoration: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  section {
    min-height: 95vh;
  }

  .heading-fitur {
    margin-top: -8vh;
  }

  .card {
    /* height: 150px; */
    height: auto;
    width: 85%;
    margin-left: 1.5rem;
    align-items: center;
  }

  .card-title {
    text-align: center;
  }

  .footerSecond {
    margin-bottom: -2vh;
    width: 100%;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 50%;
  }

  section {
    min-height: 100vh;
  }
}
